.main__post--view{
    color: hsl(0,0%,31%);
    background-color: white;
}
.img__initial{
    width: 100%;
}
.user__name--post{
    text-decoration: none;
    font-weight: bold;
    color: hsl(0,0%,31%);
}
.user-img-postView{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hashtag-hover--gray {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(49, 49, 49, 0.081);
        border-radius: 5px;
        border: solid 1px rgb(63, 63, 63);
    }
    .hashtag--gray {
        color: rgb(63, 63, 63);
    }
}
.hashtag-hover--green {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(0, 255, 0, 0.081);
        border-radius: 5px;
        border: solid 1px rgb(0, 255, 34);
    }
    .hashtag--green {
        color: rgb(0, 255, 34);
    }
}
.hashtag-hover--yellow {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(238, 255, 0, 0.081);
        border-radius: 5px;
        border: solid 1px yellow;
    }
    .hashtag--yellow {
        color: yellow;
    }
}
.hashtag-hover--blue {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(0, 60, 255, 0.081);
        border-radius: 5px;
        border: solid 1px blue;
    }
    .hashtag--blue {
        color: blue;
    }
}

.comments{
    border-top: 1px solid rgb(194, 194, 194);
    
    &__input--user{
        width: 100%;
        height: 150px;
        
    }
    &--img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    &--icon{
        width: 35px;
        height: 35px;
    }
    &__card{
        width: 100%;
        height: auto;
    }
    &-gif{
        width: 80%;
    }
    &--cursor{
        cursor: pointer;
    }
    &__align--paragraph{
        text-align: center;
        color: rgb(194, 194, 194);
        .comments__align--anchor{
            color: rgb(194, 194, 194);
            text-decoration: none;
        }
        
    }
    .btn {
            border-style: none;
            border-radius: 5px;
            &:hover {
                background-color: rgb(246, 244, 244);
            }
        }
}

// _left-aside-artilce.scss

.aside__left--post{
    width: 100%;
}
.aside__left--fixed{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    top: 93%;
}
.post--list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.btn__aside{
    display: flex;
    background: none;
    border: 0;
    color: inherit;
}
   
.icon {
    width: 30px;
    height: 30px;
    padding: 6px;

    &__fill-red:hover{
        fill: red;
        background-color: rgba(255, 0, 0, 0.267);
        border: 1px solid red;
        border-radius: 50%;
    }

    &__fill-green:hover{
        fill: green;
        background-color: rgba(0, 128, 0, 0.267);
        border: 1px solid green;
        border-radius: 50%;
    }
    &__fill-purple:hover{
        fill: purple;
        background-color: rgba(128, 0, 128, 0.267);
        border: 1px solid purple;
        border-radius: 50%;
    }

  }

//   @media screen and(min-width:768px) {
    .aside__left--post{
        width: 50px;
        
    }
    .post--list{
        display: contents;
    }
    .aside__left--fixed{
        width: 50px;
        background-color: transparent;
        top: 25%;
    }
     .btn__aside{
        display: block;
     }
//   }

  // .aside-right-post

  .aside-right-post{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__right--post{
    width: 100%;
    border-radius: 5px;
    background-color: white;
    height: 180px;
}
.bg-black{
    background-color: black;
    width: 100%;
    height: 35px;
    padding-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .aside__right{
        &--icon{
        width: 48px;
        height: 48px;
        vertical-align: bottom !important;
        }
        &--text{
            color: hsl(0, 0%, 64%);
            font-size: small;
        }

    }
    .title__codedex--bold{
        font-weight: bold;
        &:hover{
            color: hsl(235, 72%, 55%);
            cursor: pointer;
        }
    }
    
}
.trending--user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.trending--hover{
    &:hover{
        border: 1px solid blue;
        border-radius: 5px;
        background-color: rgba(29, 29, 175, 0.021);
        color: hsl(235, 72%, 55%);
        cursor: pointer;
    }
}
.trending--anchors{
    text-decoration: none;
    color: hsl(0, 0%, 64%);
    &:hover{
        color: hsl(0, 0%, 64%);
    }
}

@media screen and (min-width:768px) {
    .aside-right-post{
        width: 110%;
    }
}
@media screen and (min-width:1024px) {
    .aside-right-post{
        width: 120%;
    }
}

.main__post--view{
    color: hsl(0,0%,31%);
    background-color: white;
}
.img__initial{
    width: 100%;
}
.user__name--post{
    text-decoration: none;
    font-weight: bold;
    color: hsl(0,0%,31%);
}
.user-img-postView{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hashtag-hover--gray {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(49, 49, 49, 0.081);
        border-radius: 5px;
        border: solid 1px rgb(63, 63, 63);
    }
    .hashtag--gray {
        color: rgb(63, 63, 63);
    }
}
.hashtag-hover--green {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(0, 255, 0, 0.081);
        border-radius: 5px;
        border: solid 1px rgb(0, 255, 34);
    }
    .hashtag--green {
        color: rgb(0, 255, 34);
    }
}
.hashtag-hover--yellow {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(238, 255, 0, 0.081);
        border-radius: 5px;
        border: solid 1px yellow;
    }
    .hashtag--yellow {
        color: yellow;
    }
}
.hashtag-hover--blue {
    text-decoration: none;
    color: hsl(0,0%,31%);            
    &:hover {
        background-color: rgba(0, 60, 255, 0.081);
        border-radius: 5px;
        border: solid 1px blue;
    }
    .hashtag--blue {
        color: blue;
    }
}

.comments{
    border-top: 1px solid rgb(194, 194, 194);
    
    &__input--user{
        width: 100%;
        height: 150px;
        
    }
    &--img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    &--icon{
        width: 35px;
        height: 35px;
    }
    &__card{
        width: 100%;
        height: auto;
    }
    &-gif{
        width: 80%;
    }
    &--cursor{
        cursor: pointer;
    }
    &__align--paragraph{
        text-align: center;
        color: rgb(194, 194, 194);
        .comments__align--anchor{
            color: rgb(194, 194, 194);
            text-decoration: none;
        }
        
    }
    .btn {
            border-style: none;
            border-radius: 5px;
            &:hover {
                background-color: rgb(246, 244, 244);
            }
        }
}