.sidebar {
    display: none;
    flex-direction: column;
    gap: 1rem;
    @media screen and (min-width: 1024px){
      display: flex;
    }
  }
  .listings--see-all{
    display: flex;
    justify-content: space-between;
  }
  .see-all{
    padding: var(--element-padding);
    text-decoration: none;
  }
  .card {
    background-color: var(--sidebar-background);
    border-radius: 0.25rem;
    box-shadow: var(--element-box-shadow);
    &__title {
      padding: var(--element-padding);
      border-bottom: var(--border-bottom-styles);
      font-weight: 500;
      color: var(--black);
      font-size: 1.25rem;
    }
  }
  .right-aside--strong{
    text-align: center;
  }
  .sidebar-element {
    padding: var(--element-padding);
    border-bottom: var(--border-bottom-styles);
    color: var(--text);
    &:hover {
      color: var(--text-blue);
      cursor: pointer;
      background-color: var(--sidebar-background-hover);
    }
    &__category {
      color: var(--text-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
    }
    &__new-tag-wrapper {
      padding-top: 0.25rem;
    }
    &__new-tag {
      max-width: max-content;
      border-radius: 0.2rem;
      background-color: var(--yellow);
      color: var(--yellow-dark);
      font-size: 0.875rem;
      padding: 0.25rem;
      line-height: 1;
    }
  }