footer {
  background-color: hsl(0, 0%, 90%);
  padding: 30px;
  display: grid;
  grid-row:    footer;
  grid-column: footer;
  grid-column-start: footer-start;
  .container-fluid{
    width: 100%;
  }
  .container{
    width: 100%;
    @media screen and (min-width: 576px){
        width: 540px;
      }
      @media screen and (min-width: 768px){
        width: 720px;
      }
      @media screen and (min-width: 992px){
        width: 960px;
      }
      @media screen and (min-width: 1200px){
        width: 1140px;
      }
      @media screen and (min-width: 1400px){
        width: 1320px;
      }
  }

  .aling-paragraph {
    text-align: center;
  }

  .plant-icon:hover {
    width: 32px;
    height: 32px;
    border-color: rgba(47, 58, 178, 1);
    border-radius: 25%;
    fill: rgba(47, 58, 178, 1);
    background: #3b49df1a;
  }

  a {
    color: rgba(59, 73, 223, 1);
    text-decoration: none;
  }

  .anchors-styles:hover {
    color: #2f3ab2;
    text-decoration: underline;
  }

  .font {
    font-size: smaller;
    color: #5a5a5a;
  }
}
